version: "3.8"
services:
  postgres:
    image: postgres:15
    container_name: insight_postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  mongo:
    image: mongo:6
    container_name: insight_mongo
    ports:
      - "${MONGO_PORT}:27017"
    volumes:
      - mongodata:/data/db

volumes:
  pgdata:
  mongodata:
